<div class="card" >
    <div class="card-header text-center">
        <h3>Carrito de compras</h3>
    </div>
    <div class="card-body" id="list-product-item">
        <app-item-car></app-item-car>
    </div>
    <div class="card-footer">
        <div class="text-end">
            <p class="text-end">Total: {{total}}</p>
            <button class="btn btn-info text-end">Comprar</button>
        </div>
    </div>
</div>