
<div class="card p-0" *ngFor="let product of productsInCar">
   <div class="card-body">
        <span><strong>Nombre: </strong>{{product.name|titlecase}}</span><br>
        <span><strong>Cantidad: </strong>{{product.amount}}</span>
        <p><strong>Valor unitario: </strong>{{product.price}}</p>
        <!-- <p><strong>Total: </strong>{{}}</p> -->
    <div class="text-end">
        <input  type="button" class="btn btn-sm btn-danger" value="Eliminar">
    </div>
   </div>
</div>
