<app-navbar></app-navbar>
<div class="d-flex justify-content-center align-items-cente m-4" id="content-profile" *ngIf="isActiveSession; else msgInitSession">
    <div class="card">
        <div class="card-header">
            <h2>Informacion general</h2>
        </div>
        <div class="card-body">
            <p><strong>Nombres: </strong>{{user?.fristName}}</p>
            <p><strong>Apellidos: </strong>{{user?.lastName}}</p>
            <p><strong>Email: </strong>{{user?.email}}</p>
            <p><strong>Trabajo: </strong>{{user?.address?.work}}</p>
            <p><strong>Recidencia: </strong>{{user?.address?.recidence}}</p>
            <p><strong>Telefono: </strong>{{user?.address?.phone}}</p>
            <hr>
            <div class="text-end">
                <button class="btn btn-primary text-end">
                    Editar
                </button>
            </div>
        </div>
        
    </div>
</div>
<ng-template #msgInitSession>
    <div class="d-flex">
        <h1>Session requerida</h1>
    </div>
</ng-template>

