<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ShopCatalog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" routerLink="/product" routerLinkActive="active">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/invoice" routerLinkActive="active">Facturas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/user" routerLinkActive="active">Perfil</a>
          </li>
        </ul>
        <div class="list-group list-reset" *ngIf="isActiveSession; else btnLoyout">
          <a href="#" class="list-group-item list-group-item-action" routerLink="" (click)="layout()" >
              Salir
          </a>
        </div>
        <ng-template #btnLoyout>
          <div class="list-group list-reset" >
            <a href="#" class="list-group-item list-group-item-action" routerLink="/auth/login" >
                Iniciar Session
            </a>
        </div>
        </ng-template>
        
      </div>
    </div>
  </nav>