<div class="d-flex justify-content-center align-items-center" id="container-login">
    <div class="card p-2">
        <div class="card-body">
            <div class="text-center mb-4">
                <h2>Registro</h2>
            </div>
            <form action="">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nombres">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Apellidos">
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="number" placeholder="Edad" >
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Trabajo">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Recidencia">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="number" placeholder="Telefono">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Correo">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <!-- <label for="floatingPassword">Password</label> -->
                </div>
                <div class="d-grid mb-2">
                    <input class="btn btn-primary" type="submit" value="Crear">
                </div>
            </form> 
            <div class="d-grid">
                <a class="btn btn-light" routerLink="/auth/login" >Regresar</a>
            </div>
            
        </div>
    </div>
</div>