<app-navbar></app-navbar>
<div *ngIf="isSessionExits; else msgInitSession">
    <div class="d-flex m-4">
        <div class="col-8  p-1">
            <app-list></app-list>
        </div>
        <div class="col p-1">
            <app-card-car></app-card-car>
        </div>
    </div>  
</div>
<ng-template #msgInitSession>
    <h1>Requiere inicio de session</h1>
</ng-template>
